<%- include('Partials/header.ejs') -%>

<%- include('Partials/subHeader.ejs') -%>

<div class="card">
  <table>
    <tr>
      <th>Subject</th>
      <th>Marks</th>
      <th>Teacher</th>
    </tr>

    <% for(subject of data[0].subject){ %>
    <tr>
      <td><%= subject.name %></td>
      <td><%= subject.marks %></td>
      <td><%= subject.teacher %></td>
    </tr>
    <% } %>
  </table>
</div>

<%- include('Partials/footer.ejs') -%>
