<%- include('Partials/header.ejs') -%>

<%- include('Partials/subHeader.ejs') -%>
<%- include('Partials/leftSideBar.ejs') -%>

<section id="dashboard" style="height: 130vh;">
    <div class="dashboardContainer">
        <div class="subjectContainer">

            <% for(data of subject){ %>
                <div class="subjectCard" style="background-color: #fff0e1;" id=<%= data._id %>>
                    <div class="cardImg">
                        <img src="/static/assets/images/<%= data.name %>.jpg" alt="">
                    </div>
                    <div class="cardTitle">
                        <h6><%= data.name %></h6>
                    </div>
                </div>
            <% } %>

        </div>
    </div>
</section>



<%- include('Partials/rightSideBar.ejs') -%>



<%- include('Partials/footer.ejs') -%>
